<div class="sticky-start m-5 pt-3 pb-3 ps-5 pe-5" id="tablero">

<div>
<h3>Category:</h3>
<h4 id="hcategory"> <%=  @furniture.category %></h4>
</div>

<div>
<h3>Width:</h3>
<h4 id="hwidth"> <%= @furniture.width %> </h4>
</div>

<div>
<h3>Lenght:</h3>
<h4 id="hlength"> <%= @furniture.length %> </h4>
</div>

<div>
<h3>Depth:</h3>
<h4 id="hdepth"> <%= @furniture.depth %> </h4>
</div>

<div>
<h3>Shelves:</h3>
<h4 id="hshelves"> <%= @furniture.shelves %> </h4>
</div>

<div>
<h3>Material:</h3>
<h4 id="htexture"> <%= @furniture.material %> </h4>
</div>

<div>
<h3>Price:</h3>
<h4><%= humanized_money_with_symbol(@furniture.price) %></h4>
</div>

<%= form_tag transactions_path do %>
  <%= hidden_field_tag 'furniture_id', @furniture.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-dark mb-3' %>
<% end %>
</div>
