<input type="range" max="200" class="form-range d-none" id="showHeight" value="<%= @furniture.length %>"/>
<input type="range" max="200" class="form-range d-none" id="showWidth" value="<%= @furniture.width %>"/>
<input type="range" max="200" class="form-range d-none" id="showDepth" value="<%= @furniture.depth %>"/>
<input type="range" max="20" class="form-range d-none" id="showShelves" value="<%= @furniture.shelves %>"/>
<p class="d-none" id="showMaterial"><%= @furniture.material %></p>
<p class="d-none" id="showCategory"><%= @furniture.category %></p>


<div class="bigrow sticky-bottom">

    <div class="col-lg-7">

      <div class="row">

        <div class="row m-0">
          <div class="col-md-4 col-6 ps-30 pe-0 my-4">
            <p class="text-muted">Width</p>
            <p class="h5"><%= @furniture.width %><span class="ps-1">Cm</span></p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Heigth</p>
            <p class="h5 m-0"><%= @furniture.length %><span class="ps-1">Cm</span></p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Depth</p>
            <p class="h5 m-0"><%= @furniture.depth %><span class="ps-1">Cm</span></p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Area</p>
            <p class="h5 m-0">1<span class="ps-1">m2</span></p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Shelves</p>
            <p class="h5 m-0"><%= @furniture.shelves %></p>
          </div>
          <div class="col-md-4 col-6 ps-30 my-4">
            <p class="text-muted">Material</p>
            <p class="h5 m-0"><%= @furniture.material %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 p-0 ps-lg-4">
      <div class="row m-0">
        <div class="col-12 px-4">
          <div class="d-flex align-items-end mt-4 mb-2">
            <p class="h4 m-0"><span class="pe-1"><%=  @furniture.category.capitalize %></span><span
                class="pe-1">966</span><span class="pe-1">B</span></p>
            <P class="ps-3 textmuted">Lvl Up</P>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <p class="textmuted">Qty</p>
            <p class="fs-14 fw-bold">1</p>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <p class="textmuted">Subtotal</p>
            <p class="fs-14 fw-bold"><span
                class="fas fa-dollar-sign pe-1"></span><%= humanized_money_with_symbol(@furniture.price)  %></p>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <p class="textmuted">Shipping</p>
            <p class="fs-14 fw-bold"> <i class="fas fa-dollar-sign pe-1"></i> 100</p>
          </div>
          <div class="d-flex justify-content-between mb-2">
            <p class="textmuted">Promo code</p>
            <p class="fs-14 fw-bold">-<span class="fas fa-dollar-sign px-1"></span>100</p>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <p class="textmuted fw-bold">Total</p>
            <div class="d-flex align-text-top "> <span class="fas fa-dollar-sign mt-1 pe-1 fs-14 "></span><span
                class="h4"><%= humanized_money_with_symbol(@furniture.price) %></span> </div>
          </div>
        </div>
        <div class="col-12 px-0">

          <div class="row m-0">
            <div class="col-12 mb-4 p-0">
              <div class="btn btn-primary">Update<span class="fas fa-recycle ps-2"></span> </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 mb-4 p-0">
              <div class="btn btn-primary"><%= link_to  'Delete' , furniture_path(@furniture),method: :delete , class: "fondo" %><span class="fas fa-trash-alt ps-2"></span> </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 mb-4 p-0">
              <div class="btn btn-primary"><%= link_to  'New' , new_furniture_path , class: "fondo" %><span class="fas fa-plus ps-2"></span> </div>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-12 mb-4 p-0">

              <%= form_tag transactions_path do %>
              <%= hidden_field_tag 'furniture_id', @furniture.id %>
              <div class="btn btn-primary"> <%= submit_tag 'Checkout', class: "fondo" %> <span
                  class="fas fa-cart-arrow-down ps-2"></span> </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

</div>
</div>
