
<%= render 'shared/navbar' %>

<canvas id="home"></canvas>

<div class="outer-wrapper" id="outer-wrapper">

  <div class="wrapper" id="wrapper">
    <div class="slide one">
      <%= render "shared/sliders1" %>
    </div>
    <div class="slide">
    <%= render "shared/sliders2" %>
      <div class = "mb-5 ms-5">
  <%= simple_form_for [@furniture] do |f| %>
<%= f.input :category, as: :hidden
%>
<%= f.input :width, input_html:{ id: "swidth"}, as: :hidden
  %>
<%= f.input :length, input_html:{ id: "slength"}, as: :hidden
 %>
<%= f.input :depth, input_html:{ id: "sdepth"}, as: :hidden
 %>
<%= f.input :shelves, input_html:{ id: "sshelves"}, as: :hidden
 %>
<%= f.input :material, as: :hidden
 %>
<div>
<%= f.submit class: "btn btn-dark btn-lg" %>
</div>
<% end  %>
</div>
    </div>
    <div class="slide three" id="three">
      
      <% if params[:id]  %>
      <%= simple_form_for [Furniture.find(params[:id]),Transaction.new] do |f| %>
      <%= f.submit "Buy", class: "btn btn-dark btn-lg" %>
      <% end  %>
      <% end  %>

    </div>
    <div class="slide four"></div>
  </div>
</div>

<%= javascript_pack_tag 'home'%>
