<h1> <%= @furniture.category %> </h1>

<div class="container">

<div>
<h2>Category:</h2>
<p> <%=  @furniture.category %></p>
</div>

<div>
<h2>Width:</h2>
<p> <%= @furniture.width %> </p>
</div>

<div>
<h2>Lenght:</h2>
<p> <%= @furniture.length %> </p>
</div>

<div>
<h2>Depth:</h2>
<p> <%= @furniture.depth %> </p>
</div>

<div>
<h2>Shelves:</h2>
<p> <%= @furniture.shelves %> </p>
</div>

<div>
<h2>Material:</h2>
<p> <%= @furniture.material %> </p>
</div>

</div>


